plugins {
  id 'nf-float'
}

workDir = '/mnt/jfs/nextflow'

process {
    executor = 'float'
    errorStrategy = 'retry'
    extra = '  --dataVolume [opts=" --cache-dir /mnt/jfs_cache  -o writeback_cache"]jfs://10.192.10.145:6868/1:/mnt/jfs --dataVolume [size=120]:/mnt/jfs_cache --imageVolSize 1000 --dumpMode incremental --vmPolicy [spotFirst=true]'

    withName: 'GMAP' {
        cpus   = { 16 }
        memory = {  128.GB  }
        time   = {  36.h   }
    }
    withName: 'GMAP_L' {
        cpus   = { 16 }
        memory = {  128.GB  }
        time   = {  36.h   }
    }

    withName: "GMAP_BUILD" {
        cpus   = { 16 }
        memory = {  256.GB  }
        time   = {  36.h   }
    }
    withName: 'BEDTOOLS_INTERSECT'{
        cpus   = { 16 }
        memory = {  128.GB  }
        time   = {  36.h   }
    }
    withName: 'GTF2BED'{
        cpus   = { 4 }
        memory = {  8.GB  }
        time   = {  4.h   }
    }
}

podman.registry = 'quay.io'

float {
    address = '34.228.189.178'
    username = ''
    password = ''
    timefactor      = 10
    commonExtra =''
}

aws {
  client {
    maxConnections = 20
    connectionTimeout = 300000
  }
  accessKey = ''
  secretKey = ''
}

tower {
    accessToken = ''
    workspaceId = ''
    enabled = true
}
