plugins {
  id 'nf-float'
}

workDir = '/mnt/jfs/nextflow/working'

process {
    executor = 'float'
    errorStrategy = 'retry'

    withName: 'GMAP' {
        cpus   = { 16 }
        memory = {  128.GB  }
        time   = {  36.h   }
    }
    withName: "GMAP_BUILD" {
        cpus   = { 16 }
        memory = {  256.GB  }
        time   = {  36.h   }
    }
    withName: 'BEDTOOLS_INTERSECT'{
        cpus   = { 16 }
        memory = {  128.GB  }
        time   = {  36.h   }
    }
    withName: 'GTF2BED'{
        cpus   = { 16 }
        memory = {  128.GB  }
        time   = {  36.h   }
    }
}

podman.registry = 'quay.io'

float {
    address = '10.192.10.222:443'
    username = 'rgrindle'
    password = 'reg4901'
    timefactor      = 10
    commonExtra ='  --dataVolume [opts=" --cache-dir /mnt/jfs_cache "]jfs://10.192.10.177:6868/1:/mnt/jfs --dataVolume [size=500]:/mnt/jfs_cache --imageVolSize 1000 --customTag gmap:jfs-OD-dec-11 --dumpMode incremental --vmPolicy [spotOnly=true,retryLimit=10,retryInterval=300s]'
}

aws {
  client {
    maxConnections = 20
    connectionTimeout = 300000
  }
  accessKey = ''
  secretKey = ''
}

tower {
    accessToken = ''
}