plugins {
  id 'nf-float'
}

workDir = '/mnt/jfs/nextflow/working'

process {
    executor = 'float'
    errorStrategy = 'retry'

    withName: 'GMAP' {
        cpus   = { 16 }
        memory = {  128.GB  }
        time   = {  36.h   }
    }
    withName: 'GMAP_L' {
        cpus   = { 16 }
        memory = {  128.GB  }
        time   = {  36.h   }
    }

    withName: "GMAP_BUILD" {
        cpus   = { 16 }
        memory = {  256.GB  }
        time   = {  36.h   }
    }
    withName: 'BEDTOOLS_INTERSECT'{
        cpus   = { 16 }
        memory = {  128.GB  }
        time   = {  36.h   }
    }
    withName: 'GTF2BED'{
        cpus   = { 16 }
        memory = {  128.GB  }
        time   = {  36.h   }
    }
}

podman.registry = 'quay.io'

float {
    address = ''
    username = ''
    password = ''
    timefactor      = 10
    commonExtra =''
}

aws {
  client {
    maxConnections = 20
    connectionTimeout = 300000
  }
  accessKey = ''
  secretKey = ''
}

tower {
    accessToken = ''
}