docker.registry = "docker.io"
docker.enabled = true

params {
    genome_name = "AmexF1"
    genome_fasta = "s3://mdibl-reference/a.mexicanum/internal/GCF_040938575.1_UKY_AmexF1_1_genomic.fna.gz"
    tx_fasta = "s3://mdibl-reference/a.mexicanum/internal/AmexT_v47_dna.fa"
    tx_name = "AmexT_v47"
    outdir = "s3://mdibl-rgrindle/gmap/Test_001.AmexT_v47.AmexF1_Genome/"
    publish_dir_mode = "copy"
}

process {
    withName: "GMAP_BUILD" {
        publishDir = [
                    path: { "${params.outdir}/gmap_db/" },
                    mode: params.publish_dir_mode,
                    saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
        withName: "GMAP" {
        publishDir = [
                    path: { "${params.outdir}/gmap/" },
                    mode: params.publish_dir_mode,
                    saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
}